extends ../layouts/common

block content
    .p-5.shadow-sm.bg-white
        .active.mb-5
            .d-flex.justify-content-between.align-items-center.mb-2
                h2.h2 Đăng ký
            h2.h2 Đã được duyệt
            #active_table.mb-4

            h2.h2 Cần duyệt
            #need_approved_table.mb-4

            h2.h2 Lịch sử đăng ký
            #history_table.mb-4
block script
    script(src="/public/js/registration_admin.js")