footer.dark
    .container.px-5.pt-5
        .row.justify-content-center
            .col-md-4
                h5 Về #{APP_NAME.split(" ")[0]}
                ul
                    li
                        a(href='/about') Giới thiệu về #{APP_NAME}
            .col-md-4
                h5 Hổ Trợ
                ul
                    li
                        a(href='/FAQ') Câu hỏi thường gặp
                    li
                        a(href='/help') hổ trợ báo cáo
                    li
                        a(href='/contact') Liên hệ
            .col-md-4
                h5 Thời gian làm việc

    .footer-copyright.py-2.text-white.text-center
        p.m-0 &copy; #{APP_NAME} - #{new Date().getFullYear()}
