extends ../../layouts/common
block content 
     
     .p-5.shadow-sm.bg-white
          .active.mb-5
               h2.h2 Đang hoạt động
               #active_table

          hr
          .history 
               .d-flex.justify-content-between.align-items-center.mb-2
                    h2.h2 Lịch sử đợt thi
                    button.btn.btn-primary#create-btn
                         i.bi.bi-plus-lg.me-2
                         span Tạo
               #history_table

block script
     script(src="/public/js/exams.js")