extends ./layouts/common

block content
    .bg-white.p-5.shadow-sm
        h2.h2.mb-5 Hướng dẫn lấy file ôn tập

        .h5
            span Chuyển khoản đến tài khoản với nội dung: "
            code &lt;MÔN&gt;
            code  &lt;mail&gt;
            span " (
            code &lt;mail&gt;
            span  là địa chỉ email của bạn được chuyển hóa bằng công cụ,
            code  &lt;MÔN&gt;
            span  gồm có WORD, EXCEL và PPT)
        p.fs-6.text-danger
            span *Khi đó&nbsp;
            code.border "@"
            span  sẽ chuyển thành&nbsp;
            code.border "0a0"
            span , và&nbsp;
            code.border "."
            span  sẽ chuyển thành&nbsp;
            code.border "0dot0"
        p.text-danger *Lưu ý: bạn phải nhập đúng địa chỉ email của bạn link download sẽ được gửi đến email của bạn ngay sau đó.
        p.text-danger *Số tiền ủng hộ để duy trì theo khả năng của mỗi người.

        .mb-4
            h4.h4 Chuyển đổi email trong nội dung chuyển khoản
            .alert.alert-danger.mx-2 - Do một số ngân hàng không cho phép nội dung chuyển khoản có chứa ký tự đặc biệt như "@", "." nên cần phải chuyển đổi để việc gửi mail được hoàn thành tốt
            .input-group.mb-2
                select#subject.form-select()
                    option(selected value="none") Chọn Môn
                    option(value="Word") Word
                    option(value="Excel") Excel
                    option(value="PPT") PowerPoint
                i.input-group-text.bi.bi-arrow-right
                input.form-control(type="text" id="user-email" placeholder="Email Của Bạn")
            label.ms-2.mb-1(for="res-email") Nội dung chuyển khoản
            .position-relative
                input.form-control(type="text" id="res-email" placeholder="Tin Nhắn Gửi")
                button.btn.bi.bi-clipboard.position-absolute.top-0.end-0#copy
        .row.justify-content-center.mb-4
            .col-md-5
                img.w-100(src=`${ DOWNLOAD_IMAGE }` alt="QRpay")
        ul
            li Số TK: 8007041113228 
            li Chủ TK: LY DOAN DUY KHANH 
            li Tên NH: Viet Capital Bank - Ngân hàng TMCP Bản Việt

        span.text-danger Các bạn nhớ kiểm tra thư mục hộp thư đến ( inbox ) trong email  và thư mục spam trong email. Dùng Winrar giải nén ra sử dụng file.

        h4.h4.mb-4 Download như hình dưới đây : 
        .row.justify-content-center.mb-4
            .col-md-5
                img.w-100(src="/public/images/vidu.png" alt="Download")
        p
            span.text-danger *
            span
                span Nếu bạn đã chuyển khoản sau 24h nếu chưa nhận được phản hồi về mail file học tập vui lòng liên hệ Viber/Zalo:&nbsp;
                a(href=`tel:${ CONTACT_PHONE }`) Thầy Khánh
                code  #{CONTACT_PHONE}
                span  để được hỗ trợ sớm nhất.
block script
    script.
        Onload = () => {
            const $res = $("#res-email");
            const $req = $("#user-email");
            const $type = $("#subject");
            const $copy = $("#copy");

            $copy.click((e) => {
                var copyText = document.getElementById("res-email");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.value);
            })

            $req.keyup(function (e) {
                const types = $res.val().match(/Word|Excel|PPT|PowerPoint/i);
                const value = this.value.replace(/Word |Excel |PPT |PowerPoint /i, "");
                
                if(!types) {
                    $res.val(value.replace(/@/g, "0a0").replace(/\./g, "0dot0"));
                } else if(types.length > 0) {
                    $res.val(types[0] + " " + value.replace(/@/g, "0a0").replace(/\./g, "0dot0"));
                }
                
            });
            $res.keyup(function (e) {
                const types = $res.val().match(/Word|Excel|PPT|PowerPoint/i);
                const value = this.value.replace(/Word |Excel |PPT |PowerPoint | /g, "");
                $req.val(value.replace(/0a0/g, "@").replace(/0dot0/g, "."));
                if(types) {
                    $type.val(types[0]);
                }
            })
            $type.change((e) => {
                const value = e.target.value;
                if(value == "none") return;

                const resValue = $res.val().replace(/Word |Excel |PPT |PowerPoint/i, "");

                $res.val(value + " " + resValue);
            });
        }

