extends ./layouts/common

block content
  .bg-white.w-100.h-100.p-3
    h1.text-center.fw-bold.my-2 MOS
    h2.mb-2.h4.header
      span
        strong 1. GIỚI THIỆU
    .ms-5
      p
        strong MOS (Microsoft Office Specialist)
        span là bài thi về kỹ năng Tin học Văn phòng được triển khai bởi Tập đoàn khảo thí Tin học hàng đầu thế giới – Certiport (Hoa Kỳ) và đang được áp dụng trên 150 quốc gia và vùng lãnh thổ trên thế giới. Bài thi MOS được thực hiện trực tuyến trên 27 ngôn ngữ và đã được Việt hóa, với trung bình 280.000 bài thi mỗi tháng được tổ chức thông qua hơn 12.000 trung tâm được ủy quyền chính thức của Certiport.
      p Chứng chỉ MOS do chính Tổng Giám đốc Microsoft ký tên và có giá trị vô thời hạn trên toàn cầu. Tại Việt Nam, Chứng chỉ MOS đã được Bộ Thông tin và Truyền thông công nhận tương đương chuẩn kỹ năng CNTT nâng cao quy định trong thông tư 03/BTTTT-CNTT của Bộ Thông tin và Truyền thông.
      p Nhiều trường THPT trên cả nước đã triển khai chương trình đào tạo và thi lấy chứng chỉ MOS cho học sinh. Chứng chỉ MOS cũng được nhiều trường Cao đẳng, Đại học uy tín trên cả nước chọn làm chuẩn đầu ra cho sinh viên tốt nghiệp. Đặc biệt, nhiều Tập đoàn, Tổng công ty và Doanh nghiệp lớn ở Việt Nam đang sử dụng MOS làm tiêu chí đánh giá kỹ năng Tin học trong tuyển dụng nhân sự đầu vào và đánh giá cán bộ nhân viên.
      p Hàng năm, Certiport tổ chức cuộc thi Vô địch Tin học văn phòng Thế giới (MOSWC) quy tụ hàng triệu thanh thiếu niên đến từ hàng trăm quốc gia tham dự.
    h2.mb-2.h4.header
      span
        strong 2. LỢI ÍCH CỦA CHỨNG CHỈ MOS 2016
    .ms-5
      p
        strong Đối với học sinh, sinh viên
      ul.list
        li MOS chứng nhận rõ ràng nhất về kỹ năng thành thạo tin học văn phòng
        li Trang bị những kỹ năng tin học văn phòng cần thiết trong quá trình học tập
        li Nổi bật hồ sơ xin việc tương lại với chứng chỉ duy nhất về Tin học Văn phòng do Microsoft thế giới công nhận
      p
        strong Đối với người đi làm
      ul.list
        li MOS là cơ sở khẳng định vị thế tiên phong trong công ty như một chuyên gia tin học văn phòng.
        li Tăng mức lương kì vọng và cơ hội nghề nghiệp trong tương lai – Mang lại nhiều lợi thế trong việc tuyển dụng và đề bạt nhân sự trong tổ chức.
    h2.mb-2.h4.header
      strong 3. Các cấp độ của chứng chỉ MOS 2016
    .ms-5
      p Các cấp độ bài thi:
      p * Cấp độ Specialist: Chứng nhận các kỹ năng cơ bản trong các phần mềm Microsoft Office: Word, Excel, PowerPoint, Access, Outlook.
      p * Cấp độ Expert: Chứng nhận các kỹ năng nâng cao trong Microsoft Word và Microsoft Excel bao gồm Word Expert và Excel Expert.
      p * Cấp độ Master: Chứng nhận kỹ năng toàn diện, chuyên sâu nhất về sử dụng phần mềm Microsoft Office; yêu cầu 4 bài thi như sau: Word Expert, Excel Expert, PowerPoint và 1 trong 2 bài thi Outlook hoặc Access.
    h2.mb-2.h4.header
      strong 4. Cấu trúc bài thi MOS 2016
    .mx-5
      table.table.inactive.table-wp
        thead
          tr
            td
              strong Nội dung thi
            td
              strong Dạng bài thi
            td
              strong Thời gian
              strong (phút)
            td
              strong Điểm tối đa
            td
              strong Điểm đạt
        tbody
          tr
            td MOS Word 2016 Specialist
            td Multi-Project
            td 50
            td 1000
            td 700
          tr
            td MOS Excel 2016 Specialist
            td Multi-Project
            td 50
            td 1000
            td 700
          tr
            td MOS PowerPoint 2016 Specialist
            td Multi-Project
            td 50
            td 1000
            td 700
          tr
            td MOS Outlook 2016 Specialist
            td Multi-Project
            td 50
            td 1000
            td 700
    .ms-5
      p
        strong
          em Multi-Project
        span : Bài thi Multi-Project là bài thi mà trong đó thí sinh phải vận dụng các kỹ năng để thực hiện các tác vụ được cho trong cửa sổ bài thi (
        strong Exam Window
        span ). Mỗi bài thi có thể có từ&nbsp;
        strong 5-6 Projects,&nbsp;
        span và mỗi Project có từ&nbsp;
        strong 5-6 tác vụ&nbsp;
        span (
        strong Task
        span )
      p Được công nhận trên toàn thế giới, MOS là hành trang không thể thiếu trong môi trường học tập và làm việc; giúp các cá nhân tăng lợi thế cạnh tranh, khẳng định năng lực vượt trội của bản thân.
    h2.mb-2.h4.header
      strong 5. Phiếu điểm bài thi MOS
    .ms-5
      p Thí sinh biết kết quả ngay sau khi thi và sẽ nhận phiếu điểm MOS như sau:
    .d-flex.justify-content-center
      img(src="./public/images/phieu-diem-bai-thi-mos.png")
    h2.mb-2.h4.header
      strong 6. Chứng chỉ MOS
    .ms-5
      p Thí sinh đạt điểm yêu cầu (từ 700/1000 điểm trở lên) sẽ nhận được chứng chỉ MOS có giá trị trên toàn thế giới do Microsoft cấp.
      p Thí sinh có thể thi lại nếu chưa đạt điểm yêu cầu để lấy chứng chỉ. Tuy nhiên, các lần thi của bạn phải sử dụng duy nhất 1 tài khoản.
      p Chứng chỉ MOS: bản mềm có thể tải về trực tuyến sử dụng tài khoản Certiport cá nhân (xem hướng dẫn bên dưới) và bản cứng được gửi trực tiếp từ Microsoft Hoa Kỳ về Việt Nam, thí sinh nhận chứng chỉ bản cứng tại các địa điểm đăng ký thi.
    .d-flex.justify-content-center
      img(src="./public/images/chung-chi-mos.jpg")
      img(src="./public/images/chung-chi-mos-2.jpg")
    p.my-3.ms-5
      strong Mẫu chứng chỉ MOS
    .d-flex.justify-content-center
      img(src="./public/images/mau-chung-chi-mos-1.jpg")
    p.my-3.ms-5
      span &nbsp;Thí sinh có thể nhập Mã chứng chỉ vào website&nbsp;
      a(href="http://www.verify.certiport.com") www.verify.certiport.com
      span &nbsp;để kiểm tra tính xác thực của chứng chỉ được cấp.
    h2.mb-2.h4.header
      strong 7. Cách thức đăng ký
    .ms-5
      p – Thí sinh dự thi MOS vui lòng đăng ký online bằng cách click vào nút&nbsp;
        strong “Đăng ký thi”
        span &nbsp;bên dưới và hoàn thành các thông tin yêu cầu.
    .d-flex.justify-content-center
      a.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="/registration" style="width: 200px; height: 50px") Đăng ký

    h2.mb-2.h4.header
      strong 8. Công cụ ôn luyện thi MOS
