.accordion-button::after {
	margin-left: 0 !important;
}

.excel.accordion-button:focus {
	border-color: #007c56 !important;
	box-shadow: 0 0 0 0.25rem #007c5644 !important;
}

.ppt.accordion-button:focus {
	border-color: #ff521644 !important;
	box-shadow: 0 0 0 0.25rem #ff521644 !important;
}

.excel {
	color: #007c56 !important;
	border-color: #007c56 !important;
	background-color: #e0fcf6 !important;
}


.ppt {
	color: #ff5216 !important;
	border-color: #ff5216 !important;
	background-color: #f4e4dc !important;
}

.word {
	background-color: #e7f1ff !important;
	border-color: #0c63e4 !important;
	color: #0c63e4 !important;
}