extends ../../layouts/common

block content
    .p-5.shadow-sm.bg-white
        .active.mb-5
            .d-flex.justify-content-between.align-items-center.mb-2
                h2.h2 Giờ thi cố định
                button.btn.btn-primary(id="create-btn")
                    i.bi.bi-plus-lg.me-2
                    span Tạo
            #times-table

block script
    script(src="/public/js/times.js")